<form autocomplete="off" [formGroup]="formulario">

  <input class="text-input" placeholder="Informe o CPF ou CNPJ" type="text" name="cnpjcpf" formControlName="cnpjcpf"
    (ngModelChange)="mudartipo()" mask="CPF_CNPJ" [validation]="false" />

  <app-message [control]="formulario.get('cnpjcpf')" error="required" text="Campo obrigatório">
  </app-message>

  <app-message [control]="formulario.get('cnpjcpf')" error="erroCpfCnpj"
    text="{{ formulario.get('tipo').value === 'FISICA' ? 'CPF' : 'CNPJ' }} inválido">
  </app-message>
</form>